<div class="widget">
  Friends & family have pledged <%= number_to_currency(loan.pledged) %> for this loan. There
  are <%= days_remaining(loan) %> days remaining and <%= number_to_currency(loan.remaining) %> left to reach the funding
  goal.
</div>

<hr>
